*{
    box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.btn-home{
    
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 30px 35px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    /*font-family: ;*/
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 16px 24px;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    width: 50%;
    height: 50%;
    outline: 0;
}

#home{margin-top: 5%}

.btn-home:hover span {
    background: none;
  }


ul.menu {
    margin: 0px 0px 20px 0px;
    list-style: none;
    background-color: #e1aa7d;
    text-align: center;
  }

ul.menu > li {
    position: relative;
    display: inline-block;
    margin:0px 5px 0 0;
  }

ul.menu > li a {
    display: block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: #ffffff;
    
  }
ul.menu > li.active a {
    background-color: #e1bd9f;
  }

ul.menu > li a:hover {
    background-color: #e1bd9f;
  }

ul.menu > li:hover > ul{
    display: block;
  }
  
ul.menu > li > ul li{
    text-align: left;
    min-width: 150px;
    white-space: nowrap;
  
  }

ul.menu > li > ul > li{
    position: relative;
  }

ul.menu > li > ul > li:hover > ul {
    display: block;
  }
.nav,.active{
      left:25%;
  }
img{
      position: relative;
      right:35% ;
      border-radius: 100%;
  top: 8px;
  }















