/*all*/

body{
  margin-bottom: 0%;
}

* {
  box-sizing: border-box;
  margin-right: 0;
  margin-left: 0;
}

.white-text{
  color: white;
}

h1{
font-family: 'Roboto', sans-serif;
color: #286CD2;
text-align: center;
padding-top: 70px;
margin-top: 50px;
padding: 25px;
}

h2{
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}


/*nav*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
  top: 0px;
  margin: 0px 0px 20px 0px;
  list-style: none;
  background-color: #286CD2 ;
  box-shadow: rgba(0, 0, 0, 0.01) 0 4px 0px 4px;
  
}


ul.menu > li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin:0px 5px 0 0;
  padding-right: 7px; 
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ul.menu > li a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  display: inline-flex;
}

ul.menu > li.active a {
 color: #FFB140 ;
}

ul.menu > li a:hover {
  color: #FFB140 ;
}

.nav,.active{
  top: 18px;
  justify-content: center;
  left:60%;
}

.sticky img{
    position: relative;
    align-items: right;
    top: 0px;
    width: 120px;
    
}
.menu-buttons{
  
  width: auto;
  display: inline-flex;
  justify-content: right;
  align-self: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 2%;
  margin-top: 0px;
}


.btn-nav{
  background: #286CD2;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 10px 15px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  line-height: 1em;
  width: 100%;
  height: 50%;
  padding: 6px 4px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 10%;
  outline: 10px;
  border: 2px solid #FFB140;
}


/*hero*/
.btn-home{
  font-family: 'Roboto', sans-serif;
  align-items: center;
  background: #FFB140;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 10px 15px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 25px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 50px;
  padding: 10px 12px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 30%;
  outline: 0;
}


.hero-section{
  z-index: 0;
  display: flex;
  margin-top: 2.5%;
  background: url(../img/mac.jpg);
  background-repeat: no-repeat;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 0px;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-text{
  text-align: center;
  align-content: center;
  width: 40%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}



/*icons section*/

.icons-section{
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.icon{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  align-content: center;
}

.icon i{
  font-size: 100px;
  align-content: center;
  color: #286CD2;
  margin-bottom: 7%;
}

.icon p{
  font-size: 18px;
  text-align: center;
  width: 250px;
}
/*categories section*/

.categories-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10%;
}

.category{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  align-content: center;
  border: 3px solid #286CD2;
  background: white;
  border-radius: 8px;
   box-sizing: border-box;
  color: black;
  height: 200px;
  width: 200px;
}


/*contacts form*/

.contacts-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  margin-bottom: 5%;
  padding: 50px 100px;
  background: #286CD2;
  font-family: 'Roboto', sans-serif;
}




label, input,textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: 'Roboto', sans-serif;
}
input,textarea {
  width: 400px;
  border: none;
  border: 1px solid #286CD2;
  border-radius: 2px;
  padding-left: 5px;
  outline: none;
  
}


input:focus, textarea:focus {
  border: 1px solid #286CD2;
}

#contact_btn{
  background: #286CD2;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 10px 15px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 50px;
  padding: 6px 4px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 20%;
  margin-top: 5%;
  outline: 10px;
  border: 2px solid #286CD2;
}


/*footer*/

footer{
  height:130px;
  background-color: #286CD2;
}

.footer-links a{
  padding-right: 28px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.mail-footer{
    color:#ffffff;
    text-decoration: none;
}

.footer-links{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.footer-icons{
  padding-top: 20px;
display: flex;
justify-content: center;
}
.footer-icons a{
  padding-right: 10px ;
  font-size: 16px;
 text-decoration: none;
 color: white;

}

.footer-icons i{
  font-size: 16px;
}

.footer-second-row{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.footer-third-row{
  display: flex;
  justify-content: center;

}

.footer-third-row a{
  padding-top: 15px;
  padding-right: 15px;
}

.footer-third-row i{
  font-size: 25px;
}

/*catalog*/

.playlist-title{
  height: 80px;
  font-family: 'Roboto', sans-serif;
}

.category-video{
  display:inline-block;
  flex-direction: row;
  width: 321.2px;
  height: 222.2px;
  border: 2px solid #286CD2;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Roboto', sans-serif;
}

.catalog-img{
  width: 318px;
  height: 180px;
}

.playlist-title{
  width: 200px;
  font-size: 18px;
  margin-top: 9px;
  margin-left: 19px;
  font-family: 'Roboto', sans-serif;
}

.likes{
display: flex;
flex-direction: row-reverse;
padding-bottom: 29px;
margin-bottom: 2px;
position: relative;
bottom: 100px;
right: 10px;
font-weight: 300;
}



.catalogs-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}



/*col list + media queries*/

@media only screen and (max-width: 600px) {
  .sticky .hide {
    display: none;
  }
  .sticky img{
    position: relative;
    align-items: right;
    top: 0px;
    width: 120px;
    
  }
  
  ul.menu > li{
    justify-content: center;
  }
}


